body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

h1,h2 {
    margin: 5px 0;
    color: $bluePurple;
}

input {
    outline: none;
    border-radius: 10px;
    border: 2px solid $lightBlue;
    margin: 12px 0;
    padding: 6px;
    font-size: $fontSize;
    box-sizing: border-box;

    &:focus {
        border: 2px solid $lightBlue;
        box-sizing: border-box;
    }
}

::placeholder {
    color: #c4c4c4;
}