// Placeholder selectors
%centerContent {
   display: flex;
   justify-content: center;
   align-items: center;
}

.login {
   @extend %centerContent;
   height: 100vh;
   // background: pink;

   form {
      display: flex;
      flex-direction: column;
      padding: 30px 50px;
      box-sizing: border-box;
      border-radius: 8px;
      border: 2px solid $lightBlue;
      background: linear-gradient(0deg, $white, $lightBlue);
   }

   .btn {
      outline: none;
      color: $white;
      border: none;
      padding: 10px 14px;
      box-sizing: border-box;
      font-size: $fontSize;
      background-color: $bluePurple;
      cursor: pointer;
   }

   .logo {
      @extend %centerContent;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 0 auto 20px auto;
      background: $white;
      overflow: hidden;

      .eyes {
         @extend %centerContent;

         .eye {
            width: 15px;
            height: 15px;
            margin: 0 16px;
            border-radius: 50%;
            background: rgb(90, 78, 194);
         }
      }
   }

   // .username-input {
   //    &:focus {
         
   //    }
   // }
}