body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center; }

h1, h2 {
  margin: 5px 0;
  color: #4e46c5; }

input {
  outline: none;
  border-radius: 10px;
  border: 2px solid #a0b8f8;
  margin: 12px 0;
  padding: 6px;
  font-size: 20px;
  box-sizing: border-box; }
  input:focus {
    border: 2px solid #a0b8f8;
    box-sizing: border-box; }

::placeholder {
  color: #c4c4c4; }

.login, .login .logo, .login .logo .eyes {
  display: flex;
  justify-content: center;
  align-items: center; }

.login {
  height: 100vh; }
  .login form {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #a0b8f8;
    background: linear-gradient(0deg, #fff, #a0b8f8); }
  .login .btn {
    outline: none;
    color: #fff;
    border: none;
    padding: 10px 14px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #4e46c5;
    cursor: pointer; }
  .login .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    background: #fff;
    overflow: hidden; }
    .login .logo .eyes .eye {
      width: 15px;
      height: 15px;
      margin: 0 16px;
      border-radius: 50%;
      background: #5a4ec2; }
